.productList{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media (max-width: 1020px) {
    .productList { grid-template-columns: repeat(3, 1fr); }
    .product-card {width: 30vw; height: 30vw;}
  }

@media (max-width: 761px) {
    .productList { grid-template-columns: repeat(2, 1fr); }
    .product-card {width: 45vw; height: 45vw;}
  }

  @media (max-width: 500px) {
    .productList { grid-template-columns: 1fr; }
    .product-card {width: 90vw; height: 90vw;}
  }
