.navbar{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*.fullnav{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}*/

.navbar-brand, .offcanvas-title{
    font-size: 3rem;
}

.underline:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover::after {
  width: 100%; 
  left: 0; 
}
.offCanvasBody{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav{
  padding-top: 0;
  padding-bottom: 0;
  flex-direction: row;
}

@media (max-width: 761px) {
  .navbar-brand{
    font-size: 2rem;
  }
}

@media (max-width: 573px) {
  .navLink{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    font-size: small;
  }
  .navbar-brand{
    font-size: 1.5rem;
  }
}